build/
build-*/
out/
Testing/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
*.o
*.obj
*.exe
*.app/
*.dSYM/
*.dylib
*.so
*.dll
*.a
*.lib
*.user
*.pro.user
.DS_Store
.idea/
.vscode/
cmake-build-*/
TradeSoft.pro.user
TradeSoft.pro
